#confirmation-page
  .ui.one.column.grid
    .column
      .ui.secondary.menu
        .item.header
          Filtros 
        %a.item.active
          Todos
        %a.item
          %i.check.icon
          Pagos
        %a.item
          %i.close.icon
          Pendentes
        %a.item
          %i.male.icon
          Homens
        %a.item
          %i.female.icon
          Mulheres
        %a.item
          %i.sort.alphabet.descending.icon
          Ordem Alfabética Inversa

        .ui.right.menu
          .item
            .ui.transparent.icon.input
              %input(placeholder="Procurar..." type="text")
              %i.search.icon
    .column
      .ui.five.cards
        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.red.basic.icon.button(data-content="Cancelar confirmação de pagamento")
                    %i.close.icon
                    Cancelar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos
            .meta Guará II - Estaca Brasília


        .card
          .ui.red.corner.label
            %i.close.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/woman.jpg"
          .content
            .header Polyana Ferreira Souza
            .meta Águas Claras - Estaca Brasília


        .card
          .ui.red.corner.label
            %i.close.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos


        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos


        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos


        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos


        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos


        .card
          .ui.green.corner.label
            %i.check.icon
          .dimmable.image
            .ui.inverted.dimmer
              .content
                .center
                  .ui.green.icon.button(data-content="Confirmar pagamento")
                    %i.check.icon
                    Confirmar
            = image_tag "example/avatars/man.jpg"
          .content
            .header Marco Túlio Ávila Santos
