%div
  .ui.page.grid
    .column
      = render partial: 'messages/all'
      .ui.divided.divided.items
        - for event in events
          .item
            .content
              .ui.two.column.grid
                .twelve.wide.column
                  .ui.header{ style: 'margin-bottom: 5px' }
                    = link_to event.name, event
                    .sub.header
                      #{event.start_date} - #{event.end_date}
                  .ui.description
                    #{event.description}
                .four.wide.column
                  .extra
                    - if event.users.exists?(user)
                      = link_to leave_path(user_id: user,
                              event_id: event.id),
                          method: :post,
                          class: 'ui right floated small button basic red' do
                        Cancelar inscrição
                        %i.right.chevron.icon
                    - else
                      = link_to enroll_path(user_id: user,
                              event_id: event.id),
                          method: :post,
                          class: 'ui right floated small button basic blue' do
                        Inscrever-me
                        %i.right.chevron.icon
