.ui.middle.aligned.centered.container.grid
  .sixteen.wide.mobile.eight.wide.tablet.five.wide.computer.column
    %h2.ui.basic.center.aligned.segment
      Cadastro
      %i.ui.write.icon
    = render partial: 'messages/error_list',
      locals: { errors: @user.errors.full_messages }

    .ui.form
      = form_for @user, method: :post, multipart: true do |f|
        .ui.segment.stacked.raised.segment
          .field{ class: error_class(@user, :email) }
            .ui.left.icon.input
              = f.email_field :email, placeholder: 'Email'
              %i.user.icon

          .field{ class: error_class(@user, :password) }
            .ui.left.icon.input
              = f.password_field :password, placeholder: 'Senha'
              %i.lock.icon

          .field{ class: error_class(@user, :password_confirmation) }
            .ui.left.icon.input
              = f.password_field :password_confirmation,
                placeholder: 'Confirmação de senha'
              %i.lock.icon

          .field.required
            = f.label :ward
            = f.collection_select :ward_id, @wards, :id, :name, {},
              class: 'ui select app dropdown'

          .field
            .ui.checkbox
              = f.check_box :leader
              = f.label :leader

          .field.required.hidden#profile
            = f.label :profile
            = f.collection_select :profile, User.profile.options, :last,
              :first, {},
              class: 'ui select app dropdown'

          %button.ui.fluid.green.button{ type: 'submit' }
            Cadastrar
            %i.sign.in.icon

    .ui.segment.center.aligned
      %a{ href: login_path }
        Já tem uma conta? Entrar!
