.ui.one.column.page.grid
  .column
    %table.ui.striped.table
      %thead
        %tr
          %th{ style: 'width: 30px' }
          %th Email
          %th Nome
          %th Operações
      %tbody
        - @users.each do |user|
          %tr
            %td
              .ui.avatar.image
                = image_tag account_thumbnail(user.account)
            %td
              = mail_to user.email
            %td
              - if user.account.nil?
                \-
              - else
                = link_to user.account.full_name, user
            %td
              .ui.mini.icon.buttons
                - unless user.account.nil?
                  = link_to user, class: 'ui button' do
                    %i.eye.icon
                - if current_user != user
                  = link_to user, method: :delete,
                    data: { confirm: 'Tem certeza que deseja apagar este usuário?' }, class: 'ui button' do
                    %i.close.icon
                  - if current_user.admin?
                    - if !user.active?
                      = link_to activate_user_path(user), method: :post,
                        data: { confirm: 'Gostaria mesmo de ativar este usuário?' }, class: 'ui button' do
                        %i.add.user.icon
                    - else
                      = link_to deactivate_user_path(user), method: :post,
                        data: { confirm: 'Gostaria mesmo de desativar este usuário?' }, class: 'ui button' do
                        %i.remove.user.icon
    %br/
