.ui.one.column.page.grid
  .column
    %table.ui.striped.table
      %thead
        %tr
          %th{ style: 'width: 30px' }
          %th Email
          %th Nome
          %th Operações
      %tbody
        - @users.each do |user|
          %tr
            %td
              .ui.avatar.image
                - if(!user.account.nil? and !user.account.avatar.nil?)
                  = image_tag(user.account.avatar.image.url(:thumb))
                - else
                  = image_tag 'avatar.jpg'
            %td
              = mail_to user.email
            %td
              - if user.account.nil?
                \-
              - else
                = link_to user.account.full_name, user
            %td
              .ui.mini.icon.buttons
                - unless user.account.nil?
                  = link_to user, class: 'ui button' do
                    %i.eye.icon
                = link_to edit_user_path(user), class: 'ui button' do
                  %i.edit.icon
                = link_to user, method: :delete,
                  data: { confirm: 'Are you sure?' }, class: 'ui button' do
                  %i.close.icon
    %br/
