.ui.one.column.page.grid
  .column
    = link_to new_user_path do
      .ui.icon.primary.button
        %i.plus.icon
        Novo Usuário
    %table.ui.striped.table
      %thead
        %tr
          %th{ style: 'width: 30px' }
          %th Email
          %th Nome
          %th Operações
      %tbody
        - @users.each do |user|
          %tr
            %td
              .ui.avatar.image
                = image_tag user.person.avatar.image.url
            %td
              = mail_to user.email
            %td
              = link_to user.person.full_name, user
            %td
              .ui.mini.icon.buttons
                = link_to user, class: 'ui button' do
                  %i.eye.icon
                = link_to edit_user_path(user), class: 'ui button' do
                  %i.edit.icon
                = link_to user, method: :delete,
                  data: { confirm: 'Are you sure?' }, class: 'ui button' do
                  %i.close.icon
    %br/
