#user-profile-header
  .ui.secondary.inverted.segment.no-border-radius
    / AVATAR
    = render partial: 'messages/all'
    .ui.two.column.grid
      .two.wide.column
        .ui.small.dimmable.rounded.image
          .ui.dimmer.transition.hidden
            .content
              .center
                .ui.inverted.basic.icon.button
                  Alterar
                  %i.photo.icon
          
          = image_tag(@account.avatar.image.url(:medium))
        .ui.icon.button#user-edit-button
          %i.edit.icon
          %a{href: edit_account_path(current_user.account), id: 'edit'} Editar
      .fourteen.wide.column
        .ui.grid
          .sixteen.wide.column
            %h1.ui.header#user-name
              = @account.full_name
          
          .four.wide.column
            %p
              %i.ui.mail.icon
              = mail_to @user.email
            %p
              %i.ui.university.icon
              Estaca #{@account.user.ward.stake.name} - Ala #{@account.user.ward.name}
            %p
              %i.ui.birthday.icon
              #{@account.age} anos em #{brazilian_date(@account.birthday)}
          .four.wide.column
            %p
              %i.ui.call.icon
              = @account.phone
            %p
              %i.ui.map.marker.icon
              = @account.address
            %p
              %i.ui.privacy.icon
              = @user.profile
          .four.wide.black.column
            %p
              %i.ui.announcement.icon
              %b Contato de Emergência
            %p
              %i.ui.user.icon
              #{@account.emergency_contact.name} - #{t(@account.emergency_contact.kinship)}
            %p
              %i.ui.call.icon
              = @account.emergency_contact.phone

#user-profile-body
  .ui.page.grid
    .column
      .ui.divided.divided.items
        .item
          .content
            .ui.two.column.grid
              .twelve.wide.column
                .ui.header{ style: 'margin-bottom: 5px' }
                  = link_to 'Acampamento do MAS 2016', event_path(1)
                  .sub.header Maio de 2016
                .ui.description
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua.
              .four.wide.column
                .extra
                  .ui.right.floated.primary.small.button
                    Inscrever-me
                    %i.right.chevron.icon
