.ui.form
  = form_for @event, multipart: true do |f|
    .ui.segments
      .ui.segment
        .field{ class: error_class(@event, :name) }
          = f.label :name
          .ui.left.icon.input
            = f.text_field :name, placeholder: 'Nome do Evento'
            %i.write.icon

        .field{ class: error_class(@event, :description) }
          = f.label :description
          = f.text_area :description, placeholder: 'Descrição', rows: 3

        .field{ class: error_class(@event, :start_datetime) }
          = f.label :start_datetime
          .two.fields
            .field
              .ui.left.icon.input
                = f.text_field :start_date,
                  placeholder: 'Data inicial',
                  class: 'datemask'
                %i.calendar.icon
            .field{ class: error_class(@event, :start_datetime) }
              -# = f.label :start_time
              .ui.left.icon.input
                = f.text_field :start_time,
                  placeholder: 'Hora',
                  class: 'timemask'
                %i.calendar.outline.icon

        .field{ class: error_class(@event, :end_datetime) }
          = f.label :end_datetime
          .two.fields
            .field
              .ui.left.icon.input
                = f.text_field :end_date,
                  placeholder: 'Data de término',
                  class: 'datemask'
                %i.calendar.icon
            .field{ class: error_class(@event, :end_datetime) }
              .ui.left.icon.input
                = f.text_field :end_time,
                  placeholder: 'Hora',
                  class: 'timemask'
                %i.calendar.outline.icon

        .field{ class: error_class(@event, :price) }
          = f.label :price
          .ui.left.icon.input
            %i.dollar.icon
            = text_field_tag :price, nil, placeholder: 'Preço do evento'

      .ui.secondary.segment
        = link_to :back, class: 'ui left icon basic button' do
          %i.left.arrow.icon
          Voltar
        %button.ui.right.floated.primary.button{ type: 'submit' }
          Criar Evento
