#event-page
  #page-bg
  #page-content
    .ui.page.grid
      .sixteen.wide.column
        = render partial: 'messages/all'
      .ten.wide.column
        #event-name
          %h1= @event.name
          %p Começa em #{@event.start_date} às #{@event.start_time}
          %p.transparent= @event.description
          %p.transparent
            %b Preço:
            = number_to_currency(@event.price)

          .ui.buttons
            = link_to :back,
                  class: 'ui left button' do
              %i.left.arrow.icon
              Voltar
            .or{ data: { text: 'ou' } }
            - if @event.users.exists?(current_user)
              = link_to leave_path(@event),
                  class: 'ui negative button' do
                Cancelar inscrição
                %i.right.chevron.icon
            - else
              = link_to enroll_path(@event),
                  class: 'ui positive button' do
                Inscrever-me
                %i.right.chevron.icon

      .six.wide.column
        - if @event.users.any?
          .ui.inverted.segment#participants
            %h3 Participantes:
            .ui.inverted.relaxed.list
              - @event.users.each do |user|
                .item
                  = image_tag account_thumbnail(user.account),
                    class: 'ui avatar image'
                  .content
                    .header= user.account.full_name
                    .description Ala #{user.ward.name}
