#event-page
  #page-bg
  #page-content
    .ui.page.grid
      .eleven.wide.column
        #event-name
          %h1 #{@event.name}
          %p Começa em #{@event.start_date} às #{@event.start_time}
          %p.transparent #{@event.description}

          .ui.buttons
            = link_to :back,
                  class: 'ui left button' do
              %i.left.arrow.icon
              Voltar
            .or{data: {text: "ou"}}
            = link_to enroll_path(user_id: current_user,
                      event_id: @event.id),
                  method: :post,
                  class: 'ui positive button' do
              Participar
              %i.right.chevron.icon

      .five.wide.column
        .ui.inverted.segment.no-background-color#participants
          %h3 Participantes:
          .ui.inverted.relaxed.list
          - for user in @event.users do
            .item
              = image_tag account_thumbnail(user.account), class: "ui avatar image"
              .content
                .header #{user.account.full_name}
                .description Ala #{user.ward.name}