#event-page
  #page-bg
  #page-content
    .ui.page.grid
      .ten.wide.column
        #event-name
          %h1 Acampamento do MAS 2016
          %p Dia 02/04/2016 às 09:00
          %p.transparent Descrição Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .ui.primary.button
            Participar

      .six.wide.column
        .ui.inverted.segment.no-background-color#participants
          %h3 Participantes:
          .ui.inverted.relaxed.list
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
            .item
              = image_tag "example/avatars/man.jpg", class: "ui avatar image"
              .content
                .header Lucas Skywalker
                .description Ala Guará II
