.ui.one.column.page.grid
  .column
    = render partial: 'messages/all'
    = link_to new_stake_path, class: 'ui primary icon button' do
      %i.plus.icon
      Nova Estaca
    %table.ui.striped.table
      %thead
        %tr
          %th= t('text.stake')
          %th Nº de Alas
          %th= t('text.region')
          %th

      %tbody
        - @stakes.each do |stake|
          %tr
            %td= link_to stake.name, stake
            %td
              = stake.wards.count
              alas
            %td= link_to stake.region.name, stake.region
            %td
              .ui.mini.icon.buttons
                = link_to stake, class: 'ui button' do
                  %i.eye.icon
                = link_to edit_stake_path(stake), class: 'ui button' do
                  %i.edit.icon
                = link_to stake, method: :delete,
                  data: { confirm: 'Are you sure?' }, class: 'ui button' do
                  %i.trash.icon
