= form_for @ward do |f|
  - if @ward.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ward.errors.count, "error")} prohibited this ward from being saved:"
      %ul
        - @ward.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :stake
    = f.collection_select :stake_id, Stake.all, :id, :name
  .actions
    = f.submit 'Save'
