.ui.form
  = form_for current_user, url: change_password_path do |f|
    .ui.segments{ style: 'margin-top:0px' }
      .ui.segment
        .field{ class: error_class(@account, :password) }
          = f.label 'Senha atual'
          .ui.left.icon.input
            %i.privacy.icon
            = f.password_field :old_password, placeholder: 'Digite a senha atual'
        .field{ class: error_class(@account, :password) }
          = f.label 'Nova Senha'
          .ui.left.icon.input
            %i.privacy.icon
            = f.password_field :password,
              placeholder: 'Digite a nova senha'
        .field{ class: error_class(@account, :password) }
          .ui.left.icon.input
            %i.privacy.icon
            = f.password_field :password_confirmation,
              placeholder: 'Confirma nova senha'
      .ui.secondary.segment
        = f.submit 'Salvar', class: 'ui primary button'
